@font-face {
    font-family: 'Gotham-Black';
    src: url('Gotham-Black.otf');
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('Gotham-Book.otf');
    font-style: italic;
}

@tailwind base;

@layer base {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    a {
        @apply text-black underline;
    }
}

@tailwind components;
@tailwind utilities;