@font-face {
    font-family: "Gotham-Book";
    src: url('Gotham-Book.woff') format('woff'),
    url('Gotham-Book.woff2') format('woff2'),
    url('Gotham-Book.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-Thin.woff2') format('woff2'),
		 url('Montserrat-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-ExtraLight.woff2') format('woff2'),
		 url('Montserrat-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-Light.woff2') format('woff2'),
		 url('Montserrat-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}


@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-Medium.woff2') format('woff2'),
		 url('Montserrat-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-SemiBold.woff2') format('woff2'),
		 url('Montserrat-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-Bold.woff2') format('woff2'),
		 url('Montserrat-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-ExtraBold.woff2') format('woff2'),
		 url('Montserrat-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-Black.woff2') format('woff2'),
		 url('Montserrat-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@tailwind base;

@layer base {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    a {
        @apply text-black underline;
    }
}

@tailwind components;
@tailwind utilities;

.accordion-item {
    overflow: hidden;
    transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
    height: auto;
    max-height: 9999px;
}

.accordion-item.collapsed {
    max-height: 0;
    transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
}

pre {
    @apply font-book
}