@font-face {
    font-family: 'Gotham-Black';
    src: url('Gotham-Black.otf');
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('Gotham-Book.otf');
    font-style: italic;
}

@tailwind base;

@layer base {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    a {
        @apply text-black underline;
    }
}

@tailwind components;
@tailwind utilities;

.accordion-item {
    overflow: hidden;
    transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
    height: auto;
    max-height: 9999px;
}

.accordion-item.collapsed {
    max-height: 0;
    transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
}

pre {
    @apply font-book
}